.App {
  text-align: center;
  user-select: none;
  display: grid;
  grid-template-areas:
    "counter"
    "button-house";
}

.counter {
  grid-area: counter;
  font-size: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-house {
  grid-area: button-house;
}