body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.counter {
  display: flex;
  font-size: 500px;
  animation: slideIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate3d(-20rem, 0, 500rem);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.text {
  position: relative;
}
